#root {
  /* max-width: 1280px; */
  margin: 0;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* scroll-behavior: auto; */
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
